@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
a:hover {
  color: black;
}

.watcher-navbar .watcher-desktop-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.watcher-navbar .menu-main-menu-container #menu-main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
.watcher-navbar .menu-main-menu-container #menu-main-menu li {
  list-style-type: none;
}
.watcher-navbar .menu-main-menu-container #menu-main-menu li a {
  margin-left: 3rem;
  text-decoration: none;
}

.watcher-mobile-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  display: none;
}
.watcher-mobile-nav .sidenav {
  position: fixed;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  display: none;
  top: 134px;
  background-color: white;
}
.watcher-mobile-nav .sidenav .menu-main-menu-container {
  text-align: center;
}
.watcher-mobile-nav .sidenav .menu-main-menu-container ul li {
  list-style-type: none;
}
.watcher-mobile-nav .sidenav .menu-main-menu-container ul li a {
  text-decoration: none;
}
.watcher-mobile-nav .sidenav.active_nav {
  display: block;
}
.watcher-mobile-nav .mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watcher-mobile-nav .openNav .fa-xmark {
  display: none;
}
.watcher-mobile-nav .openNav .fa-bars {
  display: block;
  font-size: 34px;
}
.watcher-mobile-nav .openNav .sidenav {
  display: none;
}
.watcher-mobile-nav .openNav.active_nav .fa-xmark {
  display: block;
  font-size: 34px;
}
.watcher-mobile-nav .openNav.active_nav .fa-bars {
  display: none;
}
.watcher-mobile-nav .openNav.active_nav .sidenav {
  display: block;
}

.watcher-footer-section {
  margin-top: 20px;
}
.watcher-footer-section .watcher-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 2px solid black;
}
.watcher-footer-section .watcher-footer .watcher-help {
  display: grid;
}
.watcher-footer-section .watcher-footer .watcher-help a {
  text-decoration: none;
  text-align: end;
}
.watcher-footer-section .watcher-footer .watcher-footer-copyright {
  margin-top: 10px;
}

.movie-single {
  margin-top: 110px;
  margin-bottom: 110px;
}
.movie-single .movie-image {
  text-align: center;
}
.movie-single .movie-image img {
  height: 438px;
  width: 780px;
  -o-object-fit: contain;
     object-fit: contain;
}
.movie-single .movie-title {
  margin-top: 20px;
}
.movie-single .movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .watcher-desktop-nav {
    display: none;
  }
  .watcher-mobile-nav {
    display: flex;
  }
  .watcher-footer-section .watcher-footer {
    margin-top: 40px;
  }
  .watcher-footer-section .watcher-footer .watcher-footer-logo,
.watcher-footer-section .watcher-footer .watcher-footer-description,
.watcher-footer-section .watcher-footer .watcher-footer-copyright {
    text-align: center;
  }
  .watcher-footer-section .watcher-footer .watcher-help {
    margin-top: 1rem;
  }
  .watcher-footer-section .watcher-footer .watcher-help a {
    text-align: center;
  }
  .movie-single {
    margin-top: 110px;
    margin-bottom: 110px;
  }
  .movie-single .movie-image {
    text-align: center;
  }
  .movie-single .movie-image img {
    height: 200px;
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .movie-single .movie-title {
    margin-top: 20px;
  }
  .movie-single .movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */